
svg {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: visible;
  }
  .svg-icon {
    cursor: pointer;
  }
  .svg-icon path {
    stroke: var(--color);
    fill: none;
    stroke-width: 1;
  }
  input, button {
    outline: none;
    border: none;
    color: var(--color);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      -webkit-transition: "white 0s ease-out, background-color 0s ease-out";
      -webkit-transition-delay: 9999s;
  }

  input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: var(--color);
  }
  input::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--color);
  }
  input:-ms-input-placeholder {
    /* IE 10+ */
    color: var(--color);
  }
  input:-moz-placeholder {
    /* Firefox 18- */
    color: var(--color);
  }
  .demo {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
  }
  .login {
    position: relative;
    height: 100%;
    background: linear-gradient(to bottom, var(--tint) 0%, rgba(0, 0, 0, 0.6) 100%);
    transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transform: scale(1);
  
  }
  .login__form {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 1.5rem 2.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .login__row {
    margin-bottom: 5px;
    height: 5rem;
    width: 20%;
    min-width: 240px;
    padding-top: 1rem;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
  
  }
  .login__icon {
    margin-bottom: -0.4rem;
    margin-right: 0.5rem;
  }
  .login__icon.name path {
    stroke-dasharray: 73.50196;
    stroke-dashoffset: 73.50196;
    animation: animatePath 2s 0.5s forwards;
  }
  .login__icon.pass path {
    stroke-dasharray: 92.10663;
    stroke-dashoffset: 92.10663;
    animation: animatePath 2s 0.5s forwards;
  }
  .login__input {
    height: 100%;
    padding-left: 1.5rem;
    font-size: 1.5rem;
    background: transparent;
    color: var(--color);
  }
  .login__signup {
    font-size: 1.2rem;
    color: #aba8ae;
  }
  .login__signup a {
    color: var(--color);
    cursor: pointer;
  }