
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --backgroundColor: #fc3768;
  --tint: rgba(146, 135, 187, 0.8);
  --color: white;
}


html, body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 768px) {
  html, body {
    font-size: 50%;
  }
}


.cont {
  position: relative;
  height: 100vh;
  background-image: url('https://i.imgur.com/VQaJKNO.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
