
svg {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: visible;
  }
  .svg-icon {
    cursor: pointer;
  }
  .svg-icon path {
    stroke: var(--color);
    fill: none;
    stroke-width: 1;
  }
  .app__logout {
    position: absolute;
    bottom: 3.3rem;
    right: 3.3rem;
    width: 4.6rem;
    height: 4.6rem;
    margin-right: -2.3rem;
    margin-bottom: -2.3rem;
    background: var(--backgroundColor);
    color: var(--color);
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s, transform 0.4s 0.4s, opacity 0.1s 0.7s, background-color 0.1s 0.7s;
  }
  .app__logout.clicked {
    bottom: 50%;
    right: 50%;
    transform: scale(100) !important;
    opacity: 0.9;
  }
  .app__logout.clicked svg {
    opacity: 0;
  }
  .app__logout-icon {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 50%;
    left: 50%;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    transition: opacity 0.1s;
  }
  .app__logout-icon path {
    stroke-width: 4px;
    stroke-dasharray: 64.36235;
    stroke-dashoffset: 64.36235;
    animation: animatePath 0.5s 0.5s forwards;
  }
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes animatePath {
    to {
      stroke-dashoffset: 0;
    }
  }
  